* {
  box-sizing: border-box;
}

body {
    font-family:"Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
    font-weight: 200;
    background: #f4f6f9;
    color: rgb(7, 26, 83) !important;
    padding: 0;
    margin: 0;
}


footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #fff;
   color:rgb(24, 19, 94);
   text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
/* logo design */
.logo h1 span {
  color: #92a5de;
  font-size: 100px;
}

.logo h1 {
  color: #92a5de;
  font-size: 50px;
  text-shadow: 0px 0px 0 rgb(137, 156, 213), 1px 1px 0 rgb(129, 148, 205),
    2px 2px 0 rgb(120, 139, 196), 3px 3px 0 rgb(111, 130, 187),
    10px 10px 0 rgb(50, 69, 126), 11px 11px 0 rgb(42, 61, 118),
    12px 12px 0 rgb(33, 52, 109), 13px 13px 0 rgb(24, 43, 100),
    14px 14px 0 rgb(15, 34, 91), 15px 15px 0 rgb(7, 26, 83),
    20px 20px 0 rgb(-37, -18, 39), 21px 21px 20px rgba(0, 0, 0, 1),
    21px 21px 1px rgba(0, 0, 0, 0.5), 0px 0px 20px rgba(0, 0, 0, 0.2);
}
/* sidemenu design */
.sidemenu {
  background-color: #201d38;
  width: 250px;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  overflow: auto;
}

.sidemenu nav {
  padding-top: 1px;
}

.sidemenu nav a {
  display: block;
  color: #ccc;
  text-decoration: none;
  padding: 15px 30px;
  transition: all 0.2s ease-in-out;
}
.sidemenu nav a:hover {
  background-color: #302d43;
  padding: 15px 50px 15px 40px;
}

.sidemenu nav a:hover:before {
  color: #f7f7f7;
  background-color: #767580;
  border-left: #d8f0bb 5px solid;
  padding: 15px 30px 15px 25px;
}

.sidemenu .active {
  background-color: #302d43;
  padding: 15px 30px 15px 25px;
}

/* design for admin dashbord */
.sidemenu nav li a {
  display: block;
  color: #ccc;
  text-decoration: none;
  padding: 15px 30px 15px 25px;
  transition: all 0.2s ease-in-out;
}
ul {
  list-style-type: none;
  margin-left: -40px;
}
li ul {
  padding-left: 70px;
}

li:hover ul li a {
  background-color: #302d43;
  transition: all 59.3s ease-in-out;
}
li:hover ul li a:hover {
  background-color: #302d43;
  padding-left: 10px;
}
.sidemenu nav li a:hover {
  background-color: #302d43;
  padding: 15px 30px 15px 25px;
  margin-left: 10px;
}
li ul {
  display: none;
}

li a:hover + .hidden,
.hidden:hover {
  display: block;
  transition: all 509.3s ease-in-out;
}

nav i {
  height: 18px;
  padding-right: 8px;
  color: rgb(137, 156, 213);
}

/* header */

header {
  color: rgb(7, 26, 83);
  background-color: #fff;
  height: 4rem;
}

header .userimage img {
  border-radius: 20px;
  float: right;
  margin: 15px 20px 0 20px;
  height: 30px;
  width: 30px;
}

header #logout {
  float: right;
  margin-top: 27px;
}

header #logout a {
  text-decoration: none;
  color: #302d43;
}

header #logout a :hover{
  text-decoration: none;
  color: #634eeb;
}


header .username {
  font-size: 1.3rem;
  padding-top: 0.2rem;
  float: right;
}
.userarea {
  padding-right: 25px;
}
/* content  */

.content-area {
  margin-left: 250px;
}

.content-area .cards {
  margin: auto !important;
  padding-left: 20px;
}

.heading {
  margin-bottom: 1rem;
  margin-left: 15px;
  color: rgb(7, 26, 83);
  font-size: 1.1rem;
  font-weight: 300;
}

.heading p {
  color: #494646;
  margin-bottom: 70px;
}

/* new  look */
.card-head{
  margin-left: 50px;
}

.profile-card{
  padding: 10rem 0;
  color: fff;
}
 .card-wrapper{
  display: flex;
  flex-direction: row;
   align-content: center;
   align-items: center;
   margin: 40px;

 }

.card-item-right-small-view{
    align-items: center;
    text-align: center;
    background-color: #ebeef8;
    align-items: center;
    height: 100%;;
    justify-content: center;
    margin: 3rem 9px;
    padding:1rem;
    box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2);  
 }

 .card-item-right-small-view-content{
   display: none;
 }

  .card-item{
   display: flex;
    flex: 2;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width:20rem;
    background-color: #ebeef8;
    align-items: center;
    justify-content: center;
    margin: 3rem 6px;;
    box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2); 
  }
  .card-item-right{
     flex: 1;
    display: flex;
    justify-content: center;
    text-align: center;
    width:20rem;
    background-color: #ebeef8;
    align-items: center;
    justify-content: center;
    margin: 3rem 10px;;
    box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2); 
  }

  .cards-image{
    width: 100%  !important;
    height: 19rem;
    object-fit:cover; 
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 47%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 47%, 0 100%);
  }

  .profiles-image{
    width: 10rem;
    height:  10rem;
    object-fit: cover;
     border-radius:50%;
     margin-top:-13rem;
     z-index: 999;
     border: 1px solid #ebeef8;
     margin-bottom:8px;
  }

  .card h1{
    font-size: 2.5rem;
    color:#333;
    font-size:1.5rem 0;
  }



.upload {
  color: #282639;
  width: 20%;
  margin: auto;
}
.upload a {
  text-decoration: none;
  color: #282639;
}
.upload a:hover {
  color: #92a5de;
}
.card-item-create-photo .primary-btn {
  width: 29%;
  margin:auto;
}
.card-item-create-photo .upload-input{
   margin-bottom:1rem;
   width: 50%
}

.card-item-create-photo{
    align-items: center;
    text-align: center;
    width: 80%;
    background-color: #ebeef8;
    align-items: center;
    justify-content: center;
    margin: 15rem auto;
    box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2);  
    padding-bottom:2rem;
}
.card #image {
  margin: 1rem;
  height: 200px;
  border-radius: 40px;
}
.card-profile .username {
  padding-top: 1rem;
  margin: 1rem;
}

.profile-account-type-design,
.profile-email-design,
.profile-firstName-design,
.profile-acount-design,
.profile-birthday-design,
.profile-gender-design {
  color: #494646;
  padding: 30px 20px 10px 30px;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.badge-success {
  width: 50%;
  margin:  40px auto;
  margin-bottom :5rem;
}
.card-item-create-view{
  padding: 10px 0 20px 0;
  align-items: center;
  width: 40%;
  text-align: center;
  background-color: #ebeef8;
  align-items: center;
  justify-content: center;
  margin: 5rem  auto;
  box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2);
}
.card-item-create-view .id-header,
.card-item-create-view .name-header,
.card-item-create-view .created-on-header,
.card-item-create-view .account-header,
.card-item-create-view .cell-header,
.card-item-create-view .email-header,
.card-item-create-view .address-header,
.card-item-create-view .dob-header,
.card-item-create-view .account-balance-header,
.card-item-create-view .type-header,
.card-item-create-view .view-active-header {
  border-radius: 5px;
  padding: 10px;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.delete-btn {
  margin-top: 1.8rem !important;
}
.card-item-create-view .primary-btn {
  width:50% !important;
  margin: 10px auto;
}
.heading{
  text-align: center;
  padding-top: 2rem;
}

.showStaff {
  display: none;
}
.showAdmin {
  display: none;
}

/* create staff and admin */
.card-newStaff {
  color: #494646;
  background-color: #fff;
  padding: 10px 20px 30px 10px;
  width: 50%;
  height: 100%;
  border-radius: 100px;
  margin: 70px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

/* search button */
form {
  width: 50%;
  margin: 40px auto;
}
.searchItem input[type="date"] {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  align-items: center;
  text-align: center;
  background-color: #adb1bd;
  align-items: center;
  justify-content: center;
  box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2); 
  border: none;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  border-radius: 2px; 
  padding:5px;

}

.searchItem  button {
  box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2); 
   border: none;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  background-color:#201d38;
  color: white;
  padding:8px;
  border-radius: 2px; 
  cursor: pointer;
}  
.searchItem  button:hover{
  background-color: rgb(137, 156, 213)
}

/* credit and debit design */

.card-form-design {
  color: #494646;
  background-color: #fff;
  padding: 40px 20px 40px 10px;
  width: 100%;
  margin: 90px auto;
  border-radius: 100px;
  border-bottom: solid 26px rgb(7, 26, 83);
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
.credit-name,
.credit-amount,
.credit-account-number,
.depositor-name,
.creditor-name,
.debitor-name,
.debit-amount,
.debit-account-number,
.debit-name,
.debit-description-name,
.staff-name,
.staff-email,
.staff-password,
.confirm-staff-password,
.staff-email,
.admin-name,
.admin-password,
.confirm-admin-password {
  /* margin-bottom: 1.3rem; */
  width: 100% ;
  margin: 5px auto;
  border-radius: 2px;
  background: #3a3838;
  border: solid 1px #555;
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  line-height: 2.3rem;
  font-size: 1rem;
}

.card-item-create-acount .primary-btn {
  width: 100% !important;
}
.credit-account-number,
.debit-account-number,
.credit-amount,
.debit-amount,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* create account design */

.card-item-create-acount #create-text {
  text-align: center;
  padding-bottom: 2rem;
}

#firstname,
#surname,
#password,
#comfirm-password ,
#email,
#phone-number,
#address,
#create-dob,
#usertype {
  margin-bottom: 1.3rem;
  width: 100%;
  border-radius: 2px;
  background: #302d43;
  border: solid 1px #555;
  color: rgb(141, 136, 136);
  padding: 0.9rem 1rem;
  line-height: 1.3rem;
  font-size: 1rem;
}
.gender {
  padding-bottom: 1rem;
  font-size: 1rem;
}
.card-item-create-user-acount .primary-btn{
  margin-bottom: 5rem;
  width: 100%;
}
.card-item-create-user-acount{
  text-align: center;
}
.card-item-create-user-acount 
.card-item-create-acount{
  padding: 10px 0 20px 0;
  align-items: center;
  width: 80%;
  text-align: center;
  background-color: #ebeef8;
  align-items: center;
  justify-content: center;
  margin: 5rem  auto;
  box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2);
}

.card-item-create-view-size{
  width: 30%;
}
.card-form-design input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}


/* transaction  and account design */
.card-table {
  color: #494646;
  background-color: #fff;
  padding: 30px 30px 20px 30px;
  margin: auto;
  border-radius: 100px;
  border-bottom: solid 9px rgb(7, 26, 83);
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.table-content,
table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
}
tr:nth-of-type(odd),
.account-tr:nth-of-type(odd) {
  background: #eee;
}
th,
.account-th {
  background: rgb(7, 26, 83);
  color: white;
  font-weight: bold;
}
td,
th,
.account-td,
.account-th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}


/* badge */
.badge-success {
  background-color: green;
  color: white;
  height: 2.3rem;
  font-weight: 500;
  border-radius: 2px;
  padding: 5px;
  text-align: center;
}
/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0, 0.2);
}

.modalDelete {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(24, 21, 21, 0.2);
}
.modalDeactivate {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(24, 21, 21, 0.2);
}
.modalActivate {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(24, 21, 21, 0.2);
}
.modal-content {
  background-color: #fff;
  margin: 30px auto;
  padding: 20px;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
.closeBtn {
  color: #ccc;
  float: right;
  font-size: 40px;
}
.closeBtn:hover,
.closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* button */
.primary-btn {
  padding: 0.9rem 1rem;
  height: 2.7rem;
  display: block;
  border: none;
  border-radius: 2px;
  font-weight: 500;
  background: rgb(42, 61, 118);
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.5s;
}
.primary-btn:hover {
  background-color: #92a5de;
}

.secondary-btn {
  padding: 0.1rem;
  display: block;
  border: 1px solid #282639;
  border-radius: 2px;
  font-weight: 500;
  background: none;
  color: #282639;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}
.secondary-btn:hover {
  border-color: #92a5de;
  color: rgb(158, 166, 190);
}

/* handle moble view */

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ .sidemenu {
  display: block;
}
.mobileShowmenu {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  background-color: #302d43;
  text-align: center;
  padding: 10px 0;
  display: none;
}

 @media screen and (max-width: 766px) {
  
  .sidemenu {
    position: static;
    display: none;
  }
  .content-area {
    margin: 1px;
  }
  body {
    font-size: 0.9rem;
  }
  .card-profile {
    margin: 6px;
    width: auto;
  }
  
  .username-styles { 
    padding-top: 0.4rem !important;
  }
  .card-profile .userimg img {
    height: 100px;
    width: 100px;
  }
  .transation {
    border-right: 0;
  } 
  .content-area .cards .card {
    margin-right: 5px;
  }
  .sidemenu a {
    margin-bottom: 1px;
  }
  .sidemenu {
    width: auto;
  }

  .userimg {
    padding-right: 2rem !important;
  }  .username-styles {
    padding-top: 1rem;
  }

  .mobileShowmenu {
    display: block;
  }
}
@media screen and (max-width: 317px) {
  .username {
    display: none;
  }
  .each-show-case {
    display: none;
  }
}
@media screen and (max-width: 250px) {
  .content-area {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  footer {
    margin-top: 59rem;
  }
}
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
    .card-item-create-user-acount{
   padding: 10px 0 20px 0;
  align-items: center;
  width: 100% !important;
  text-align: center;
  background-color: #ebeef8;
  align-items: center;
  justify-content: center;
  margin: 5rem  auto;
  box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2);
}
    header #logout a :hover{
  text-decoration: none;
  color: #634eeb;
}
    .card-item-right-small-view-content{
      margin: auto;
    display: block;
  }
  .card-item-right{
    display: none;
  }form {
    margin: auto;
  }

 .searchItem input[type="date"] {
  padding:5px;
  width: 30%;
}

.searchItem  button {
  font-size: 18px;
  margin :9px 30%;
}  
  table,
  thead,
  tbody,
  th,
  td,
  tr,
  .table-content .accounts .account-td .account-th .account-td .account-tr {
    display: block;
  }

  .accounts,
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .account-tr,
  tr {
    border: 1px solid #ccc;
  }

  .account-td,
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  .account-td:before,
  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  td:nth-of-type(1):before {
    content: "Date";
  }
  td:nth-of-type(2):before {
    content: "Type";
  }
  td:nth-of-type(3):before {
    content: "Account Number";
  }
  td:nth-of-type(4):before {
    content: "Amount";
  }
  td:nth-of-type(5):before {
    content: "casher";
  }
  td:nth-of-type(6):before {
    content: "Old Balance";
  }
  td:nth-of-type(7):before {
    content: " New Balance";
  }
  .account-td:nth-of-type(1):before {
    content: "ID";
  }
  .account-td:nth-of-type(2):before {
    content: "Name";
  }
  .account-td:nth-of-type(3):before {
    content: "Account";
  }
  .account-td:nth-of-type(4):before {
    content: "Email";
  }
  .account-td:nth-of-type(5):before {
    content: " Cell Number";
  }
  .account-td:nth-of-type(6):before {
    content: "view Accounts";
  }
}
