* {
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  font-weight: 300;
  background: #f4f6f9;
  color: rgb(7, 26, 83);
  padding: 0;
  margin: 0;
}

.logo h1 span {
  color: #92a5de;
  font-size: 90px;
}

.logo h1 {
  color: #92a5de;
  font-size: 50px;
  text-shadow: 0px 0px 0 rgb(137, 156, 213), 1px 1px 0 rgb(129, 148, 205),
    2px 2px 0 rgb(120, 139, 196), 3px 3px 0 rgb(111, 130, 187),
    10px 10px 0 rgb(50, 69, 126), 11px 11px 0 rgb(42, 61, 118),
    12px 12px 0 rgb(33, 52, 109), 13px 13px 0 rgb(24, 43, 100),
    14px 14px 0 rgb(15, 34, 91), 15px 15px 0 rgb(7, 26, 83),
    20px 20px 0 rgb(-37, -18, 39), 21px 21px 20px rgba(0, 0, 0, 1),
    21px 21px 1px rgba(0, 0, 0, 0.5), 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.sidemenu {
  background-color: #282639;
  width: 250px;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  overflow: auto;
}

.sidemenu nav {
  padding-top: 2px;
}

.sidemenu nav a {
  display: block;
  color: #ccc;
  text-decoration: none;
  padding: 15px 15px;
  transition: all 0.3s ease-in-out;
}

.sidemenu nav a:hover {
  background-color: #302d43;
  border-left: #92cf48 5px solid;
  padding: 15px 30px 15px 25px;
  margin-left: 10px;
}

.sidemenu .active {
  background-color: #302d43;
  border-left: #92cf48 5px solid;
  padding: 15px 30px 15px 25px;
}

.icon {
  height: 18px;
  margin: 0.4rem 0.9rem 0 0;
}

/* header */

header {
  color: rgb(7, 26, 83);
  background-color: #fff;
  height: 4rem;
}

header .userimage img {
  border-radius: 20px;
  float: right;
  margin: 20px 20px 0 20px;
  height: 30px;
  width: 30px;
}

header #logout {
  float: right;
  margin-top: 30px;
}

#logout a {
  text-decoration: none;
}

header .username {
  font-size: 1.3rem;
  float: right;
  margin-top: 7px;
}
.userarea {
  padding-right: 25px;
}

/* footer */

footer {
  background-color: #fff;
  color: purple;
  padding: 1px;
  text-align: center;
  position: relative;
  margin-top: 150px;
  clear: both;
  width: 100%;
}

/* content  */

.content-area {
  margin-left: 270px;
}

.content-area .cards {
  margin-top: 10px;
}

.heading {
  margin: 0;
  color: rgb(7, 26, 83);
  font-size: 1.1rem;
  font-weight: 200;
}

.heading p {
  color: #494646;
  margin-bottom: 8rem;
}
.card h1 {
  color: #494646;
  font-size: 1rem;
}
.content-area .cards .card {
  color: #494646;
  background-color: #fff;
  display: inline-block;
  padding: 23px;
  margin: 10px 30px 30px 10px;
  border-radius: 80px;
  border-bottom: solid 26px rgb(7, 26, 83);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.content-area .cards .userimg img {
  height: 150px;
  width: 150px;
}
.username-styles {
  color: #494646;
  background-color: #fff;
  padding: 10px;
  width: 70%;
  margin: 10px 30px 30px 30px;
  border-radius: 100px;
  border-bottom: solid 16px rgb(7, 26, 83);
  border-top: solid 16px rgb(7, 26, 83);
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.dash-all {
  color: #494646;
  background-color: #fff;
  padding: 10px;
  margin: 10px 30px 30px 30px;
  border-radius: 100px;
  border-bottom: solid 16px rgb(7, 26, 83);
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.userimg img {
  border-radius: 100px;
  margin: -110px 0 0 20px;
}

.card-account {
  color: #494646;
  background-color: #fff;
  display: inline-block;
  padding: 50px 20px 100px 30px;
  margin: 10px 90px 30px 10px;
  border-radius: 80px;
  border-bottom: solid 26px rgb(7, 26, 83);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
.card-account table th {
  border-radius: 50px;
  padding: 10px;
  border: solid rgb(148, 154, 172) 1px;
}
.card-account table td {
  border: solid rgb(148, 154, 172) 1px;
  padding: 10px;
}
.card-view {
  color: #494646;
  font-size: 0.8rem;
  background-color: #fff;
  display: inline-block;
  padding: 10px 30px;
  margin: 10px;
  border-radius: 80px;
  border-bottom: solid 26px rgb(7, 26, 83);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
.card-view .id-header,
.card-view .name-header,
.card-view .created-on-header,
.card-view .account-header,
.card-view .cell-header,
.card-view .email-header,
.card-view .address-header,
.card-view .dob-header,
.card-view .account-balance-header,
.card-view .type-header,
.card-view .view-active-header {
  border-radius: 80px;
  padding: 50px;
  height: auto;
  border-top: solid 10px rgb(7, 26, 83);
  border-bottom: solid 10px rgb(7, 26, 83);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.card-view .id,
.card-view .name,
.card-view .created-on,
.card-view .account,
.card-view .cell,
.card-view .email,
.card-view .address,
.card-view .dob,
.card-view .account-balance,
.card-view .type {
  border-radius: 80px;
  padding: 5px;
  border-bottom: solid 10px rgb(137, 156, 213);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
.card-view .view-active-header {
  margin: 1rem 5rem 2rem 5rem;
}
.card-view .primary-btn {
  border-radius: 20px;
  width: 100%;
  margin-bottom: 2rem;
}
.go-back{
  background-color: #302d43;
  width: 7%;
  padding: 7px;
  border-radius: 20px;
}
.go-back a{
  text-decoration: none;
  color: rgb(216, 209, 209);
}

.go-back:hover{
  background-color: #92a5de;
}

.account-content {
  color: #494646;
  background-color: #fff;
  padding: 30px 20px 100px 30px;
  height: 100%;
  margin: 10px 100px 30px 100px;
  border-radius: 100px;
  border-bottom: solid 26px rgb(7, 26, 83);
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
.card-newStaff {
  color: #494646;
  background-color: #fff;
  padding: 10px 20px 30px 10px;
  width: 50%;
  height: 100%;
  border-radius: 100px;
  margin: 70px;
  border-bottom: solid 26px rgb(7, 26, 83);
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.card-creditor,
.card-debitor {
  color: #494646;
  background-color: #fff;
  padding: 40px 20px 40px 10px;
  width: 50%;
  height: 100%;
  margin: 70px;
  border-radius: 100px;
  border-bottom: solid 26px rgb(7, 26, 83);
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
.credit-name,
.credit-date-time,
.credit-amount,
.credit-account-number,
.depositor-name,
.creditor-name,
.debitor-name,
.debit-date-time,
.debit-amount,
.debit-account-number,
.debit-name,.debit-description-name {
  margin-bottom: 1.3rem;
  width: 50%;
  border-radius: 2px;
  background: #3a3838;
  border: solid 1px #555;
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  line-height: 1.3rem;
}
.card-creditor .primary-btn,
.card-debitor .primary-btn {
  width: 50%;
  display: inline-block;
}
.card-creditor,
.card-debitor input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.upload-input{
  margin-bottom: 1rem;
}
.cards .primary-btn{
  width:27%;
}
.card #image {
margin: 1rem;
height: 200px;
border-radius: 40px;
} 

/* badge */
.badge-success {
  background-color: green;
  color: white;
  height: 2.3rem;
  font-weight: 500;
  border-radius: 2px;
  padding: 5px;
  text-align: center;
}

/* button */
.primary-btn {
  padding: 0.9rem 1rem;
  height: 2.7rem;
  display: block;
  border: none;
  border-radius: 2px;
  font-weight: 500;
  background: rgb(42, 61, 118);
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.5s;
}
.primary-btn:hover {
  background-color: #92a5de;
  color: #fff;
}
.secondary-btn {
  padding: 0.7rem 1rem;
  display: block;
  border: 1px solid #683d5d;
  border-radius: 2px;
  font-weight: 500;
  background: none;
  color: #282639;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}
.secondary-btn:hover {
  border-color: #92a5de;
  text-decoration: none;
  background: #fff;
  color: #92a5de;
}
.secondary-btn a:hover {
  color: #92a5de;
}

/* handle moble view */

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ .sidemenu {
  display: block;
}
.mobileShowmenu {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  background-color: #302d43;
  text-align: center;
  padding: 10px 0;
  display: none;
}

@media (max-width: 990px) {
  .sidemenu {
    position: static;
    display: none;
  }
  .content-area {
    margin-left: 1px;
  }
  .content-area .cards .card {
    margin-right: 5px;
  }
  .sidemenu a {
    margin-bottom: 1px;
  }
  .sidemenu a {
    width: 100%;
  }
  .sidemenu {
    width: auto;
  }
  .mobileShowmenu {
    display: block;
  }
}
